<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Example: {{ title }}
    </title>
  </head>
  <body>
    <main>
      {% block content %}
        {{- content|default('') -}}
      {% endblock %}
    </main>
  </body>
</html>
