{% extends '_includes/example-twig-layout.twig' %}

{% block content %}
  {% from '@macros/example-macro.twig' import example_macro %}
  <h1>
    {{ title }}
  </h1>
  {{ example_macro('Rendering a macro') }}
{% endblock %}
